[buildout]
parts =
  python

# Keep internal stuff in a subdirectory.
download-cache = etc/downloads
eggs-directory = etc/eggs
develop-eggs-directory = etc/develop-eggs
parts-directory = etc/parts
eggs =
  biribiri.chain
  jinja2
  tornado >= 2.0git
  simplejson

find-links =
    http://github.com/muromec/biribiri.chain/tarball/master#egg=biribiri.chain
    http://github.com/facebook/tornado/tarball/master#egg=tornado-2.0git
 
[python]
recipe = zc.recipe.egg
interpreter = py
eggs = ${buildout:eggs}
